body{
  background-color:#17202A ;
  color: white;
  font-family: 'Alumni Sans Pinstripe',tahoma;
}

h1,p{
  text-align: center;
  margin: 3% 5%;
  
}
h1{
  font-size: 60px;
}
p{
  font-size: 40px;
  font-weight: 600;
}

form{
  margin: 2% 5%;
  padding: 1% 2%;
  background-color: #273746 ;
  color: white;
  font-size: 30px;
  font-weight: 600;
}

input, select{
  width: 99%;
  margin: 3% 0;
  height: 40px;
  display: block;
  font-size: 30px;
  font-family: 'Alumni Sans Pinstripe',tahoma;
  font-weight: 600;
}

.nl{
  width: unset;
  height: unset;
  margin: 2% 1%;
  padding: 2%;
  display: inline;
}

#submit{
  margin: 25 0 0 0 ;
  width: 100%;
  height: 60px;
  font-size: 30px;
  font-family: 'Alumni Sans Pinstripe',tahoma;
  font-weight: 600;
}

textarea{
  width: 99%;
  margin: 3% 0;
  height: 60px;
  display: block;
  font-size: 30px;
  font-family: 'Alumni Sans Pinstripe',tahoma;
  font-weight: 600;
}